{% extends "layout.html" %}
{% block body %}
<head>
  <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/static/code.js"></script>
</head>
<body>
  <div id="footer">
    <div id="footer-left">
      [ <a href="https://justthelads.party/request">Requests</a> ] [ <a href="https://justthelads.party/plex">Plex</a> ]
    </div>
    <div id="footer-right" >
      <div id="helptext">
        [ a party for just the lads ]
      </div>
    </div>
</body>
{% endblock %}
